*{
    margin-top: 0;
}

body{
background-image: linear-gradient(55deg,
            hsl(240deg 55% 46%) 0%,
            hsl(281deg 47% 44%) 7%,
            hsl(311deg 36% 49%) 15%,
            hsl(331deg 38% 58%) 23%,
            hsl(346deg 34% 66%) 32%,
            hsl(0deg 19% 72%) 42%,
            hsl(10deg 54% 76%) 53%,
            hsl(20deg 88% 77%) 64%,
            hsl(30deg 100% 74%) 77%,
            hsl(41deg 100% 69%) 89%,
            hsl(55deg 82% 61%) 100%);
    background-repeat: no-repeat;
    background-size:cover;

}

.main{
    width: 550px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 350px;
    text-align: center;
    background-color: white;
    box-shadow:-10px 10px 200px black;
    border: 6px solid black;
    border-radius: 2.4rem;
}

.hero{
    
    width: 550px;
    height: 260px;
    left: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

.input{

        margin-top: 10px;
        width: 170px;
       
        font-family:'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 97.5723px;
        line-height: 24px;
    
        text-align: center;
    
        color: #FFFFFF;
        
        background:transparent;
     }
    
#first{
    padding-top: 53px;
    left: 51px;
    top: 53px;
   

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
        /* identical to box height, or 173% */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #FFFFFF;
}

p{
    margin:20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    text-align: center;
    color: #4E4E4E;
}

.length{
    padding-top:37px;
}

.volume{
    padding-top: 57px;
}

.mass{
    padding-top: 57px;
    padding-bottom:64px;
}
